body {
	 background-color: black;
	 margin: 0;
	 height: auto;
	 overflow-x: hidden;
	 overflow-y: auto;
	 padding: 2rem;
	 color: white;
	 font: 1.3rem Inconsolata, monospace;
	 text-shadow: 0 0 5px #c8c8c8;
}
 body::selection {
	 background: #0080ff;
	 text-shadow: none;
}
 pre {
	 margin: 0;
}

.blink{
  animation: blinker2 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;  
}
@keyframes blinker2 { to { opacity: 0; } }

.no-underline{
    text-decoration: none;
	color: white;
}

.no-underline-box{
    text-decoration: none;
	color: white;
	font: 1.0rem Inconsolata, monospace;
	text-shadow: 0 0 5px #c8c8c8;
	
}

.no-underline-button{
    text-decoration: none;
	color: white;
	position:absolute; 
	top:10px; 
	right:50px;
}

ul {
  flex-wrap: wrap;
  display: flex;
}

ul li {
  flex: 1 0 25%;
}
